@using agrokorm.Models.Products.Configurations
@model List<MembraneConfiguration>
@{
    Layout = null;
    ViewData["Title"] = "View";
}
<link type="text/css" href="~/css/Admin/table.css" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">


<img src="~/images/Logo.png" />

<div class="config">
            <table class="configuration">
                <tr>
                    <th>ID</th>
                    <th>Цвет</th>
                    <th>Ширина</th>
                    <th>Длина</th>
                    <th>Тип</th>
                    <th>Цена</th
                </tr>
                
                    @foreach(var conf in Model)
                    {
                       <tr>
                         <td>@conf.Id</td>
                         <td>@conf.Color</td>
                         <td>@conf.Width</td>
                         <td>@conf.Length</td>
                         <td>@conf.Type</td>
                         <td>@conf.Price</td>
                       </tr>
                    
                    }

                    
            </table>

                        
</div>

<a asp-controller="Admin" asp-action="Login"><div> <p>Вернуться в админ-панель</p></div></a>
