@using agrokorm.Models.Products.Configurations
@model List<MembraneConfiguration>
@{
    Layout = null;
    ViewData["Title"] = "View";
}
<link type="text/css" href="~/css/Admin/table.css" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">




<img class="logo" src="~/images/Logo.png" />

<div class="config">
            <table class="configuration">
                <tr>
                    <th>ID</th>
                    <th>Цвет</th>
                    <th>Ширина</th>
                    <th>Длина</th>
                    <th>Тип</th>
                    <th>Цена</th
                </tr>
                
                    @foreach(var conf in Model)
                    {
                       <tr>
                         <td>@conf.Id</td>
                         <td>@conf.Color</td>
                         <td>@conf.Width</td>
                         <td>@conf.Length</td>
                         <td>@conf.Type</td>
                         <td>@conf.Price</td>
                         
                         <td>
                         @if(@conf.IsVisible)
                                {
                                        <a asp-controller="Admin"  asp-action="ChangeVisibleModeInMembraneConfTable"  asp-route-id="@conf.Id">
                                            <img src="~/images/Admin/icons8-done.svg" alt="yes" height="25px">
                                        </a>
                                }
                         else
                                {
                                    <a asp-controller="Admin"  asp-action="ChangeVisibleModeInMembraneConfTable"  asp-route-id="@conf.Id">
                                        <img src="~/images/Admin/icons8-close.svg" alt="no" height="25px">
                                    </a>
                                
                                }
                                
                         </td>
                         
                       </tr>
                    
                    }

                    
            </table>

                        
</div>

<a asp-controller="Admin" asp-action="RedirectToAdmin" asp-route-id="1748925468"><div> <p>Вернуться в админ-панель</p></div></a>
