@using agrokorm.Models
@using agrokorm.Service.Response;
@using agrokorm.Models.Products;

@model List<Membrane>;
@{
    ViewData["Title"] = "Силосная пленка";
    Layout = Layout;
}



<link type="text/css" href="/css/plenka.css" rel="stylesheet"/>
<section class="main">
    <div class="greenLine"></div>
    <section class="main_main">
        <div class="InHeader">
            <h1>Силосная пленка</h1>
            <ul class="ListOfAdvantages">
                <li>Прочность</li>
                <li>Стойкость</li>
                <li>Цена</li>
            </ul>
            
        </div>
        <img class="HeadPlenka" src=~/images/sil-plenka.png  />
        <img class="HeadImage" src=~/images/headPlenka.jpg />

        <section class="adressRoute"><a asp-controller= "Home" asp-action="Index"  >Главная</a> /  <a >Силосная пленка</a>  </section>

        <section class="description">
            <h2>Купить силосную <br /> пленку</h2>
            <ul>
                <li><p class="Paragraph firstParagraph">
                    <span>Силосная пленка</span> – это укрывной материал,
                    позволяющий герметично запечатать зеленую кормовую
                    массу в силосных ямах и траншеях. Использование силосной пленки
                    предотвращает порчу сочных кормов и защищает их от негативного влияния
                    внешней среды.
                </p></li>
                <li><p class="Paragraph secondParagraph">
                    Также пленка играет важную роль в процессе ферментации,
                    подходит для хранения зерна, сена и силоса. Сейчас выпускается большое
                    количество разных по свойствам силосных пленок – подобрать оптимальный
                    вариант именно для своего сельскохозяйственного производства не составит
                    труда.
                </p></li>
                <li><p class="Paragraph thirdParagraph">
                    Купить силосную пленку с доставкой
                    в любой регион России можно в компании AgroKorm.
                </p></li>
            </ul>
        </section>

        
        

    </section>
    <ul class="Products">
            @foreach(var product in Model)
            {
            if (product.IsVisible)
            {
                <li>    
                    <div class="Product">
                        <h2>@product.Name</h2>
                        <img src=~/images/silosnaya-plenka-black.jpg />

                        <ul class="InsideDescription">
                            <li><p>@product.Description</p>
                            </li>
                            <li>
                                <p>Уникальная технология изготовления пленки для силосных ям обеспечивает:</p>
                                <ul class="InsideInsideDescription">
                                    <li>прочность и стойкость на разрыв и прокол;</li>
                                    <li>световую изоляцию;</li>
                                    <li>морозостойкость;</li>
                                    <li>ширина пленки до 24 метров и длина до 50 метров, позволяет укрывать силосные ямы и траншеи одним полотном без стыков; </li>
                                    <li>непроницаемость для внешней влаги и внутреннего испарения.</li>  
                                </ul>
                            </li>
                            <li><p>Купить силосную пленку черную (Россия) можно, сделав заказ в форме обратной связи.</p> </li>
                            <li>
                                <div class="Price"><p>@product.Price рублей</p></div>
                            </li>
                        </ul>
                        @if (product.MembraneConfigurations.Count != 0)
                        {
                            <table>
                                <tr>
                                    <th>Цвет</th>
                                    <th>Ширина</th>
                                    <th>Длина</th>
                                    <th>Тип</th>
                                    <th>Цена</th>
                                </tr>
                                <!-- Foreach -->

                                @foreach (var configuration in product.MembraneConfigurations)
                                {
                                    
                                    <tr>
                                        <td>@configuration.Color</td>
                                        <td>@configuration.Width</td>
                                        <td>@configuration.Length</td>
                                        <td>@configuration.Type</td>
                                        <td>@configuration.Price</td>
                                    </tr>
                                }

                            </table>
                        }

                    <!--<div class="Price"><p>@product.Price рублей</p></div>-->
                </div>
            </li>
            }
            }
            <footer class="bottom" style="background-image: url('/images/bottom.jpg');">
    <section class="bottom_main">
        <div class="bottom_img"><img src="/images/Logo.png" alt="Logo"></div>
        <div class="under_img_text"><p>2015 - 2022 ©<br>Все права защищены</p></div>
        <div class="bottom_prod">
            <h4>Продукция</h4>
            <ul>
               <li><a href="#">Удобрения</a></li>
               <li><a href="#">Кормовые добавки</a></li> 
               <li><a href="#">Семена</a></li> 
               <li><a href="#">Биоконсерванты</a></li> 
               <li><a href="#">Техника</a></li> 
               <li><a href="#">Силосная пленка</a></li>  
            </ul>
        </div>
        <div class="bottom_company">
            <h4>О компании</h4>
            <ul>
               <li><a href="#">О компании</a></li>
               <li><a href="#">Контакты</a></li> 
            </ul>
        </div>
        <div class="inst">
            <a href="#"><img src="/images/instagram.png" alt=""></a>
        </div>
        <div class="bottom_number">
            <h4>Контакты</h4>
            <ul>
               <li><p>+7 (930) 417 31 32</p></li>
               <li><p>+7 (930) 417 31 32</p></li>
               <li><p>agro36korm@mail.ru</p></li>  
            </ul>
            
        </div>
    </section>
</footer>
        </ul>
        
</section>

